---
#
# {{ ansible_managed }}
#
targets: {{ ping_exporter__targets }}

dns:
  refresh: 2m15s
  nameserver: {{ ping_exporter__nameserver }}

ping:
  interval: 2s
  timeout: 3s
  history-size: 42
  payload-size: 120

options:
  disableIPv6: false
