---
{{ ansible_managed | comment }}

targets: {{ ping_exporter__targets | ansible.builtin.to_yaml(encoding='utf-8') }}

dns: {{ ping_exporter__dns | ansible.builtin.to_yaml(encoding='utf-8') }}

ping: {{ ping_exporter__ping | ansible.builtin.to_yaml(encoding='utf-8') }}

options: {{ ping_exporter__options | ansible.builtin.to_yaml(encoding='utf-8') }}
